.development {
    background: url('./assets/img/star.png') -20% 5% no-repeat, url('./assets/img/star.png') 120% 100% no-repeat, $black;
    padding: 138px 0 140px 0;


    &__top {
        @include adaptiv-size('font-size', 68, 28);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-weight: 700;

        @media(max-width: $breakpoint-991) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
    }

    &__key {
        font-family: "Benzin";
        text-transform: lowercase;
        color: $white;
        flex: 0 0 70%;
        line-height: 130%;


    }

    &__sporttech {
        @include adaptiv-size('font-size', 26, 18);
        color: $white-50;
        line-height: 130%;
    }

    &__list {
        @include adaptiv-size('margin-top', 110, 50);
        padding: 70px 0 70px 0;
        border-radius: 30px;
        border: 1px solid #3D3D3D;
        background: rgba(31, 31, 31, .5);
        backdrop-filter: blur(5px);
    }


    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 35px 100px 50px 0;
        opacity: 0;
        transition: .8s opacity ease;

        &:nth-child(n):not(:last-child) {
            border-bottom: 1px solid #262626;
        }

        @media(max-width: $breakpoint-767) {
            padding: 35px 50px 50px 0;
        }

        @media(max-width: $breakpoint-575) {
            padding: 35px 10px 50px 0;
            flex-direction: column;
            gap: 20px;
        }
    }
}

.key-development {
    &__name {
        position: relative;
        text-transform: capitalize;
        z-index: 10;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 5px;
        width: calc(100% - 10px);
        height: 100%;
        background: linear-gradient(97deg, #5EFF82 1.33%, #F12347 98.97%);
        transform: rotate(-2.7deg);
        z-index: -1;

        @media(max-width: $breakpoint-575) {
            width: calc(100% + 10px);
            left: -10px;
        }
    }
}

.item-development {

    &__num-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__arrow {
        @include adaptiv-size('width', 57, 30);
        position: relative;
        height: 3px;
        background-color: $red-1;

        &::after {
            content: '';
            width: 10px;
            height: 3px;
            position: absolute;
            top: 4px;
        }

        &::before {
            content: '';
            width: 10px;
            height: 3px;
            position: absolute;
            top: -4px;
        }

        &::after,
        &::before {
            background-color: $red-1;
            right: 0;
        }

        &::after {
            transform: rotate(135deg);
        }

        &::before {
            transform: rotate(-135deg);
        }
    }

    &__num {
        @include adaptiv-size('margin-left', 30, 10);
        display: block;
        font-size: 46px;
        color: $red-1;
        line-height: 100%
    }

    &__descr {
        @include adaptiv-size('margin-left', 60, 38)
    }

    &__title {
        @include adaptiv-size('font-size', 30, 20);
        color: $white;
    }

    &__text {
        @include adaptiv-size('font-size', 22, 16);
        @include adaptiv-size('margin-top', 30, 24);
        color: $white-70;
    }
}