.workus {
    @include adaptiv-size('padding-left', 125, 20);
    @include adaptiv-size('padding-top', 100, 20);
    @include adaptiv-size('padding-bottom', 50, 20);
    background: url('./assets/img/star.png') 120% 50% no-repeat, $black;
    overflow: hidden;
    position: relative;

    @media(max-width: $breakpoint-575) {
        padding-left: 25px;
        padding-right: 25px;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__title {
        line-height: 100%;
    }

    &__title-arrow {
        margin-bottom: 20px;
    }

    &__slider {
        // @include adaptiv-size('max-width', 1920, 300);
        max-width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 620px;
        z-index: 100;
        overflow: visible;

        @media(max-width: $breakpoint-575) {
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
    }

    &__slider-wrapper {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 40px;
        // transition: 1s all ease;

        @media(max-width: $breakpoint-575) {
            flex-direction: column;
            width: 100% !important;
            transform: translateX(0) !important
        }
    }

    &__slider-slide {
        @include adaptiv-size('width', 390, 300);
        @include adaptiv-size('height', 390, 200);
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        border-radius: 20px;
        border: 1px solid #3D3D3D;
        background: rgba(31, 31, 31, 0.50);
        backdrop-filter: blur(5px);
        padding: 40px;

        @media(max-width: $breakpoint-575) {
            width: 100%;
            margin-top: 0 !important;
        }
    }

    &__footer-wrapper {
        position: absolute;
        bottom: 40px;
        max-width: 100%;
        z-index: 50;

        @media(max-width: $breakpoint-575) {
            bottom: 0;
        }
    }

    &__footer-subwrapper {
        display: flex;
        overflow: hidden;
        justify-content: flex-start;
        gap: 20px;
        width: 200%;
    }

    &__footer {
        @include adaptiv-size("font-size", 50, 30);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "Benzin";
        font-weight: 700;
        margin-top: 50px;
        color: $white-20;
        gap: 20px;
        line-height: 150%;
        animation: runningStroke 5s linear infinite;
    }
}

@keyframes runningStroke {
    0% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(calc(-100% - 20px)); //подгон
    }
}

.slide-workus {

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media(max-width: $breakpoint-575) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    &__img {
        @include adaptiv-size('width', 80, 50);
        @include adaptiv-size('height', 80, 50);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__descr {
        @include adaptiv-size('font-size', 26, 22);
        color: $white;
        max-width: 177px;
    }
}

.footer-workus {
    &__arrow {
        position: relative;
        width: 50px;
        height: 3px;
        background-color: $gray;
        margin: 15px 0 0 0;

        &::after {
            content: '';
            width: 10px;
            height: 3px;
            position: absolute;
            top: 4px;
            transform: rotate(45deg);
        }

        &::before {
            content: '';
            width: 10px;
            height: 3px;
            position: absolute;
            top: -4px;
            transform: rotate(-45deg);
        }

        &::after,
        &::before {
            background-color: $gray;
            left: 0px;
        }

        b {
            &::after {
                content: '';
                width: 10px;
                height: 3px;
                position: absolute;
                top: 4px;
                transform: rotate(135deg);
            }

            &::before {
                content: '';
                width: 10px;
                height: 3px;
                position: absolute;
                top: -4px;
                transform: rotate(-135deg);
            }

            &::after,
            &::before {
                background-color: $gray;
                right: 0px;
            }
        }
    }
}