$main-color: #01abbb;
$white: #ffffff;
$white-70: rgba(#fff, .7);
$white-50: rgba(#fff, .5);
$white-20: rgba(#fff, .2);
$black: #000000;
$red: #F22648;
$gray: rgb(34, 34, 34);
$breakpoint-1399: 1399px;
$breakpoint-1299: 1299px;
$breakpoint-1199: 1199px;
$breakpoint-991: 991px;
$breakpoint-767: 767px;
$breakpoint-575: 575px;

$maxWidth: 1920;
$minWidth: 320;

// $container: 1280px;